<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.dingduoduo.dao.banner.BannerDAO">

	<insert id="create" parameterType="BannerM">
		INSERT INTO
			ding_banner (id, created_by, created_date, updated_date, updated_by,
			sequence, url, picture_url, banner_group_id, banner_group_code)
	  	VALUES
	  		(#{id}, #{createdBy}, #{createdDate}, #{updatedDate}, #{updatedBy}
	  		, #{sequence}, #{url}, #{pictureUrl}, #{bannerGroupId}, #{bannerGroupCode})
	</insert>

	<update id="update" parameterType="BannerM">
		UPDATE ding_banner
		<set>
			<if test="sequence != null">
				sequence = #{sequence},
			</if>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="pictureUrl != null">
				picture_url = #{pictureUrl},
			</if>


		</set>
		WHERE id = #{id}
	</update>

	<update id="deleteById" parameterType="BannerM">
		DELETE FROM ding_banner WHERE id = #{id}
	</update>

	<sql id="sql_where">
		<where>
			<if test="id != null">
				AND b.id = #{id}
			</if>
			<if test="bannerGroupId != null">
				AND banner_group_id = #{bannerGroupId}
			</if>
			<if test="bannerGroupCode != null">
				AND banner_group_code = #{bannerGroupCode}
			</if>
		</where>
	</sql>

	<sql id="from_table">
		ding_banner b
	</sql>

	<select id="findByConditionPage" resultType="BannerQM">
		SELECT
		b.*
		FROM
		<include refid="from_table" />
		<include refid="sql_where" />
	    ORDER BY b.created_date DESC
	</select>

	<select id="findOneByCondition" resultType="BannerQM">
		SELECT
		b.*
		FROM
		<include refid="from_table" />
		<include refid="sql_where" />
		LIMIT 1
	</select>

	<select id="findByCondition" resultType="BannerQM">
		SELECT
		b.*
		FROM
		<include refid="from_table" />
		<include refid="sql_where" />
		ORDER BY b.sequence
	</select>
</mapper>

