<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.dingduoduo.dao.audio.AudioCourseDAO">

	<insert id="create" parameterType="AudioCourseM">
		INSERT INTO
			ding_audio_course (id, created_by, created_date, updated_date, updated_by,
			name, introduction, picture_url, people_count, doctor_name, hospital_name, doctor_title, doctor_head_img, is_lecture, is_solution, total_time)
	  	VALUES
	  		(#{id}, #{createdBy}, #{createdDate}, #{updatedDate}, #{updatedBy}
	  		, #{name}, #{introduction}, #{pictureUrl}, #{peopleCount}, #{doctorName}, #{hospitalName}, #{doctorTitle}, #{doctorHeadImg}, #{isLecture}, #{isSolution}, #{totalTime})
	</insert>

	<update id="update" parameterType="AudioCourseM">
		UPDATE ding_audio_course
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="updatedDate != null">
				updated_date = #{updatedDate},
			</if>
			<if test="updatedBy != null">
				updated_by = #{updatedBy},
			</if>
			<if test="introduction != null">
				introduction = #{introduction},
			</if>
			<if test="pictureUrl != null">
				picture_url = #{pictureUrl},
			</if>
			<if test="peopleCount != null">
				people_count = #{peopleCount},
			</if>
			<if test="doctorName != null">
				doctor_name = #{doctorName},
			</if>
			<if test="hospitalName != null">
				hospital_name = #{hospitalName},
			</if>
			<if test="doctorTitle != null">
				doctor_title = #{doctorTitle},
			</if>
			<if test="doctorHeadImg != null">
				doctor_head_img = #{doctorHeadImg},
			</if>
			<if test="isLecture != null">
				is_lecture = #{isLecture},
			</if>
			<if test="isSolution != null">
				is_solution = #{isSolution},
			</if>
			<if test="totalTime != null">
				total_time = #{totalTime},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<update id="deleteById" parameterType="AudioCourseM">
		DELETE FROM ding_audio_course WHERE id = #{id}
	</update>

	<sql id="sql_where">
		<where>
			<if test="id != null">
				and rc.id = #{id}
			</if>
		</where>
	</sql>

	<sql id="from_table">
		ding_audio_course rc
	</sql>

	<sql id="join_radio_lecture_group">
		LEFT JOIN ding_radio_lecture_group rlg ON rlg.course_id = rc.id
	</sql>

	<select id="findByConditionPage" resultType="AudioCourseQM">
		SELECT
		rc.*
		FROM
		<include refid="from_table" />
		<include refid="sql_where" />
	    ORDER BY rc.created_date DESC
	</select>

	<select id="findOneByCondition" resultType="AudioCourseQM">
		SELECT
		rc.*
		FROM
		<include refid="from_table" />
		<include refid="sql_where" />
		LIMIT 1
	</select>

	<select id="findByCondition" resultType="AudioCourseQM">
		SELECT
		rc.*
		FROM
		<include refid="from_table" />
		<include refid="sql_where" />
		ORDER BY rc.sequence DESC
	</select>
</mapper>

