<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.dingduoduo.dao.audio.AudioLectureDAO">

	<insert id="create" parameterType="AudioLectureM">
		INSERT INTO
			ding_radio_lecture (id, created_by, created_date, updated_date, updated_by,
			course_id, group_id, name, sequence, audio_url, audio_name, audio_timestamp)
	  	VALUES
	  		(#{id}, #{createdBy}, #{createdDate}, #{updatedDate}, #{updatedBy}
	  		, #{courseId}, #{groupId}, #{name}, #{sequence}, #{audioUrl}, #{audioName}, #{audioTimestamp})
	</insert>

	<update id="update" parameterType="AudioLectureM">
		UPDATE ding_radio_lecture
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="updatedDate != null">
				updated_date = #{updatedDate},
			</if>
			<if test="updatedBy != null">
				updated_by = #{updatedBy},
			</if>
			<if test="courseId != null">
				course_id = #{courseId},
			</if>
			<if test="sequence != null">
				sequence = #{sequence},
			</if>
			<if test="question != null">
				question = #{question},
			</if>
			<if test="audioUrl != null">
				audio_url = #{audioUrl},
			</if>
			<if test="audioName != null">
				audio_name = #{audioName},
			</if>
			<if test="audioTimestamp != null">
				audio_timestamp = #{audioTimestamp},
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<sql id="sql_where">
		<where>
			<if test="id != null">
				and rl.id = #{id}
			</if>
			<if test="courseId != null">
				and rl.course_id = #{courseId}
			</if>
			<if test="groupId != null">
				and rl.group_id = #{groupId}
			</if>
		</where>
	</sql>

	<sql id="from_table">
		ding_radio_lecture rl
	</sql>

	<select id="findByConditionPage" resultType="AudioLectureM">
		SELECT
		rl.*
		FROM
		<include refid="from_table" />
		<include refid="sql_where" />
	    ORDER BY rl.created_date DESC
	</select>

	<select id="findOneByCondition" resultType="AudioLectureM">
		SELECT
		rl.*
		FROM
		<include refid="from_table" />
		<include refid="sql_where" />
		LIMIT 1
	</select>

	<select id="findByCondition" resultType="AudioLectureM">
		SELECT
		rl.*
		FROM
		<include refid="from_table" />
		<include refid="sql_where" />
		ORDER BY rl.sequence DESC
	</select>
</mapper>

