<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.dingduoduo.dao.authority.AuthorityDAO">

	<sql id="select_role">
		r.id role_id, r.name role_name, r.description role_description, r.is_active role_is_active, r.code role_code
	</sql>

	<sql id="select_user">
		u.id user_id, u.name user_name
	</sql>

	<sql id="sql_where">
		<where>
			<if test="roleId != null">
				and r.id = #{roleId}
			</if>

			<if test="userId != null">
				and u.id = #{userId}
			</if>
			<if test="userName != null">
				and u.name = #{userName}
			</if>
		</where>
	</sql>

	<sql id="from_role">
		FROM ding_role r
	</sql>

	<sql id="from_user_role">
		FROM ding_user_role ur
	</sql>

	<sql id="from_user">
		FROM ding_user u
	</sql>

	<insert id="create" parameterType="AuthorityM">
		INSERT INTO
			ding_user_role (user_id, role_id)
	  	VALUES
	  		(#{userId}, #{roleId})
	</insert>

	<select id="findByCondition" parameterType="AuthorityM" resultType="AuthorityM">
		SELECT
		<include refid="select_role" />
		,
		<include refid="select_user"/>
		<include refid="from_user" />
		LEFT JOIN ding_user_role ur ON u.id = ur.user_id
		LEFT JOIN ding_role r ON  r.id = ur.role_id
		<include refid="sql_where" />
	</select>

</mapper>

